<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
</head>
<body>
    <!--    Шапка сверху страницы-->
    <div class="container-fluid bg-dark bg-gradient text-white">
        <div class="row">
            <div class="col-11 fs-3">
                <p class="mt-1"> <span class="fw-bold" th:text="${authUserInfo.getEmail()}"/> with roles: <span th:each="r: ${authUserInfo.getRoleSet()}" th:text="${r.getRoleName()+' '}"/></p>
            </div>
            <div class="col fs-3">
                <form th:action="@{/logout}" method="post" class="d-flex justify-content-end">
                    <input type="submit" class="btn bg-transparent text-secondary fs-3" value="logout"/>
                </form>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row min-vh-100">

<!--            Панель переключения между страницами-->
            <div class="col-2  mt-2 ps-0 pe-0">
                <div class="list-group">
                    <a href="/admin" class="list-group-item list-group-item-action border-0 active" th:if="${authUserInfo.getRoleSet().contains(roleAdmin)}">Admin</a>
                    <a href="/user" class="list-group-item list-group-item-action border-0" aria-current="true">User</a>
                </div>
            </div>

<!--            Тело страницы со вкладками-->
            <div class="col-10 bg-light ps-5 pe-5">
                <h1 class="mt-2">Admin panel</h1>
                <nav class="nav nav-tabs mt-3" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" href="#nav-users" role="tab" aria-controls="nav-users" aria-selected="true">Users table</a>
                    <a class="nav-link" id="nav-new-user-tab" data-bs-toggle="tab" href="#nav-new-user" role="tab" aria-controls="nav-new-user" aria-selected="false">New User</a>
                </nav>


                <div class="tab-content" id="nav-tabContent">

<!--                    панель пользователей-->
                    <div class="tab-pane fade active show card" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
                        <div class="card-header">
                            <h2>All users</h2>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped fs-5">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Email</th>
                                    <th>Age</th>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="userTemp: ${usersInfo}">
                                    <td th:text="${userTemp.getId()}"/>
                                    <td th:text="${userTemp.getEmail()}"/>
                                    <td th:text="${userTemp.getAge()}"/>
                                    <td th:text="${userTemp.getFirstname()}"/>
                                    <td th:text="${userTemp.getLastname()}"/>
                                    <td><span th:each="r: ${userTemp.getRoleSet()}" th:text="${r.getRoleName()+' '}"/></td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-bs-toggle="modal" th:data-bs-target="${'#modal-edit'+userTemp.getId()}">Edit</button>
                                        <!--Модальное окна-->
                                        <div class="modal" th:id="${'modal-edit'+userTemp.getId()}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form th:method="patch" th:action="@{/admin/{idEdit}(idEdit=${userTemp.getId()})}" th:object="${user}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="modalBasicLabel">Edit user</h5>
                                                            <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                                                        </div>
                                                        <div class="modal-body text-center d-flex justify-content-center">
                                                            <div class="col-6">
                                                                <br>
                                                                <label for="id-edit" class="form-label fw-bold mb-0">ID</label>
                                                                <input type="text"  th:value="${userTemp.getId()}" class="form-control" id="id-edit" disabled="true">
                                                                <br>
                                                                <label for="email-new" class="form-label fw-bold mb-0">Email</label>
                                                                <input type="email"  th:value="${userTemp.getEmail()}" class="form-control" id="email-edit" placeholder="Email">
                                                                <br>
                                                                <label for="password-new" class="form-label fw-bold mb-0">Password</label>
                                                                <input type="password" class="form-control" id="password-edit" placeholder="Password">
                                                                <br>
                                                                <label for="firstname-new" class="form-label fw-bold mb-0">First name</label>
                                                                <input type="text" class="form-control"  th:value="${userTemp.getFirstname()}" id="firstname-edit" placeholder="First name">
                                                                <br>
                                                                <label for="lastname-new" class="form-label fw-bold mb-0">Last name</label>
                                                                <input type="text" class="form-control"  th:value="${userTemp.getLastname()}" id="lastname-edit" placeholder="Last name">
                                                                <br>
                                                                <label for="age-new" class="form-label fw-bold mb-0">Age</label>
                                                                <input type="number" min="0" max="127" class="form-control" th:value="${userTemp.getAge()}" id="age-edit" placeholder="Age">
                                                                <br>
                                                                <label for="inputRoles-edit" class="form-label fw-bold mb-0">Role</label>
                                                                <select class="form-select" multiple aria-label="multiple select example" name="inputRoles" id="inputRoles-edit">
                                                                    <option th:each="role: ${roles}"
                                                                            th:text="${role.getRoleName()}"
                                                                            th:value="${role.getId()}"/>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <input type="submit" class="btn btn-primary" value="Edit"/>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="${'#modal-delete'+userTemp.getId()}">Delete</button>
                                        <!--Модальное окна-->
                                        <div class="modal" th:id="${'modal-delete'+userTemp.getId()}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modalBasicLabel2">Delete user</h5>
                                                        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                                                    </div>
                                                    <div class="modal-body text-center d-flex justify-content-center">
                                                        <div class="col-6">
                                                            <br>
                                                            <label for="id-delete" class="form-label fw-bold mb-0">ID</label>
                                                            <input type="text"  th:value="${userTemp.getId()}" class="form-control" id="id-delete" disabled="true">
                                                            <br>
                                                            <label for="email-delete" class="form-label fw-bold mb-0">Email</label>
                                                            <input type="email"  th:value="${userTemp.getEmail()}" class="form-control" id="email-delete" placeholder="Email" disabled="true">
                                                            <br>
                                                            <label for="firstname-delete" class="form-label fw-bold mb-0">First name</label>
                                                            <input type="text" class="form-control"  th:value="${userTemp.getFirstname()}" id="firstname-delete" placeholder="First name" disabled="true">
                                                            <br>
                                                            <label for="lastname-delete" class="form-label fw-bold mb-0">Last name</label>
                                                            <input type="text" class="form-control"  th:value="${userTemp.getLastname()}" id="lastname-delete" placeholder="Last name" disabled="true">
                                                            <br>
                                                            <label for="age-delete" class="form-label fw-bold mb-0">Age</label>
                                                            <input type="number" min="0" max="127" class="form-control" th:value="${userTemp.getAge()}" id="age-delete" placeholder="Age" disabled="true">
                                                            <br>
                                                            <label for="inputRoles-delete" class="form-label fw-bold mb-0">Role</label>
                                                            <select class="form-select" multiple aria-label="multiple select example" name="inputRoles" id="inputRoles-delete" disabled="true">
                                                                <option th:each="role: ${roles}"
                                                                        th:text="${role.getRoleName()}"
                                                                        th:value="${role.getId()}"/>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <form th:method="DELETE" th:action="@{/admin/{idDelete}(idDelete=${userTemp.getId()})}">
                                                            <input type="submit" class="btn btn-primary" value="Delete"/>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

<!--                    панель создания нового пользователя-->
                    <div class="tab-pane fade card" id="nav-new-user" role="tabpanel" aria-labelledby="nav-new-user-tab">
                        <div class="card-header">
                            <h2>Add new user</h2>
                        </div>
                        <div class="card-body d-flex justify-content-center text-center">
                            <form class="col-4 text-center" th:method="POST" th:action="@{/admin}" th:object="${user}">
                                <br>
                                <label for="email-new" class="form-label fw-bold mb-0">Email</label>
                                <input type="email" th:field="*{email}" class="form-control" id="email-new" placeholder="Email">
                                <br>
                                <label for="password-new" class="form-label fw-bold mb-0">Password</label>
                                <input type="password" class="form-control" th:field="*{password}" id="password-new" placeholder="Password">
                                <br>
                                <label for="firstname-new" class="form-label fw-bold mb-0">First name</label>
                                <input type="text" class="form-control" th:field="*{firstname}" id="firstname-new" placeholder="First name">
                                <br>
                                <label for="lastname-new" class="form-label fw-bold mb-0">Last name</label>
                                <input type="text" class="form-control" th:field="*{lastname}" id="lastname-new" placeholder="Last name">
                                <br>
                                <label for="age-new" class="form-label fw-bold mb-0">Age</label>
                                <input type="number" min="0" max="127" class="form-control" th:field="*{age}" id="age-new" placeholder="Age">
                                <br>
                                <label for="inputRoles-new" class="form-label fw-bold mb-0">Role</label>
                                <select class="form-select" multiple aria-label="multiple select example" name="inputRoles" id="inputRoles-new">
                                    <option th:each="role: ${roles}"
                                            th:text="${role.getRoleName()}"
                                            th:value="${role.getId()}"/>
                                </select>
                                <br>
                                <input type="submit" class="btn btn-success" value="Add new user"/>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</body>
</html>