<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<a href="/admin/users">Return main page</a>
<br>
<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <label for="username">Enter username : </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br>
    <label for="password">Enter password : </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <label for="name">Enter name : </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="lastname">Enter lastname : </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <br>
    <input type="checkbox" name="inputRoles"
           th:each="role: ${roles}"
           th:text="${role.getRoleName()}"
           th:value="${role.getId()}"
    />
    <br>
    <input type="submit" value="Create user"/>
    <br>

</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
</body>
</html>